{% load static %}
<!DOCTYPE html>
<html
  lang="fr"
  class="{% if user.is_authenticated %}light-style layout-menu-fixed{% else %}light-style customizer-hide{% endif %}"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'assets/' %}"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>{% block title %}My Task Manager{% endblock %}</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}" />
    <!-- Icones bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    {% if not user.is_authenticated %}
      <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}" />
    {% endif %}

    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>


    {% block extra_css %}{% endblock %}
  </head>

  <body>
    
  
    {% if user.is_authenticated %}
      <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

          <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
              <a href="{% url 'dashboard' %}" class="app-brand-link">
                <span class="app-brand-logo demo">
                  <i class="bx bx-layer text-primary fs-2"></i>
                </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2">Gestion</span>
              </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <ul class="menu-inner py-1">
              <li class="menu-item">
                <a href="{% url 'dashboard' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div>Dashboard</div>
                </a>
              </li>

              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Pages</span>
              </li>

              <li class="menu-item">
                <a href="{% url 'list_task' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-briefcase-alt-2"></i>
                  <div>Tâches</div>
                </a>
              </li>

              <li class="menu-item">
                <a href="{% url 'list_role' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-check-shield"></i>
                  <div>Rôles</div>
                </a>
              </li>

              <li class="menu-item">
                <a href="{% url 'list_users' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-user"></i>
                  <div>Utilisateurs</div>
                </a>
              </li>
            </ul>
          </aside>

          <div class="layout-page">
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme">
              <div class="navbar-nav-right d-flex align-items-center w-100">
                <div class="navbar-nav align-items-center">
                  <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input type="text" class="form-control border-0 shadow-none" placeholder="Recherche..." />
                  </div>
                </div>

                <ul class="navbar-nav flex-row align-items-center ms-auto">
                  <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                      <i class="bx bx-user-circle fs-2 text-dark"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                          <i class="bx bx-power-off me-2"></i>
                          <span class="align-middle">Déconnexion</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>

            <div class="content-wrapper" id="main-content-wrapper">
    {% else %}
      <div class="container-xxl py-4" id="main-content-wrapper">
    {% endif %}

              {% block content %}{% endblock %}

    {% if user.is_authenticated %}
            </div>
          </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
    {% else %}
      </div>
    {% endif %}

    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    {% block extra_js %}{% endblock %}
  </body>
</html>