{% extends 'base.html' %}

{% block content %}

<div class="container" style="width: 50%;">
    <div class="row shadow p-4 mt-5">
        <div class="w-100">

            <h1 class="form-title text-center pb-4">
                Mot de passe modifié
            </h1>

            <div class="alert alert-success text-center">
                Votre mot de passe a été réinitialisé avec succès.
            </div>

            <div class="text-center mt-3">
                <a href="{% url 'login' %}" class="btn btn-primary">
                    Se connecter
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}