{% extends 'base.html' %}
{% block content %}

<div class="d-flex" style="min-height: 100vh;">
   <!-- Sidebar -->
    {% include 'dashboard/sidebar.html' %}

            <div class="container-fluid py-4 px-4" style="flex: 1; background-color: #f8f9fa;">
                <h2 class="mb-4">Gestion des utilisateurs</h2>
                <div class="row g-4">
                    
                    <!-- afficher les tâches  -->
                    <div class="col-lg-12">
                        <div class="card shadow-sm">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="mb-0">Liste des utilisateurs</h5>
                                <i class="fa fa-wave-pulse text-muted"></i>
                            </div>
                            <div class="card-body">
                                {% if user.is_authenticated and user.profile.role %}
                                    {% for permission in user.profile.role.permissions.all %}
                                        {% if permission.codename == 'add_user' %}
                                            <a href="{% url 'register' %}" class="btn btn-primary mb-3">
                                                <small><i class="bi bi-plus"></i></small> Ajouter un utilisateur
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nom d'utilisateur</th>
                                            <th>Email</th>
                                            <th>Rôles</th>
                                            <th>    
                                                {% if user.is_authenticated and user.profile.role %}
                                                    {% for permission in user.profile.role.permissions.all %}
                                                    
                                                        {% if permission.codename == 'change_user' %}
                                                          Actions
                                                        {% endif %}

                                                    {% endfor %}
                                                {% endif %}
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                {% if user.profile.role %}
                                                <span class="badge bg-primary">
                                                    {{ user.profile.role.name }}
                                                </span>
                                                {% else %}
                                                <span class="text-muted">Aucun rôle</span>
                                                    {% endif %}
                                            </td>
                                            <td>
           {% if request.user.is_authenticated %}
    {% for permission in request.user.profile.role.permissions.all %}
        
        {% if permission.codename == 'change_group' %}
            <a href="{% url 'edit_profile' user.profile.pk %}" class="btn btn-warning btn-sm">
                <i class="bi bi-pencil"></i>
            </a>
        {% endif %}

    {% endfor %}
{% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



