{% extends 'base.html' %}
{% block content %}

<div class="d-flex" style="min-height: 100vh;">
   <!-- Sidebar -->
    {% include 'dashboard/sidebar.html' %}
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="card">
                <h5 class="card-header">Liste des rôles</h5>
                
                <div class="table-responsive text-nowrap m-3">
                    {% if user.is_authenticated and user.profile.role %}
                        {% for permission in user.profile.role.permissions.all %}
                        
                            {% if permission.codename == 'add_group' %}
                                <a href="{% url 'form_role' %}" class="btn btn-primary mb-3">
                                 <small><i class="bi bi-plus"></i></small> Ajouter un rôle
                                </a>
                            {% endif %}

                        {% endfor %}
                    {% endif %}
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Nombre d'utilisateurs</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for role in roles %}
                    <tr>
                        <!-- Nom du rôle -->
                        <td>{{ role.name }}</td>

                        <!-- Nombre d'utilisateurs du rôle -->
                        <td>{{ role.user_count }}</td>
            
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu p-2">
                            {% if user.is_authenticated and user.profile.role %}
                                        {% for permission in user.profile.role.permissions.all %}
                                        
                                            {% if permission.codename == 'view_group' %}
                                                <a href="{% url 'detail_role' role.id %}" class="btn btn-info btn-sm">
                                                    <i class="bi bi-eye"></i>
                                                </a>
                                            {% endif %}

                                            {% if permission.codename == 'change_group' %}
                                                <a href="{% url 'role_edit' role.id %}" class="btn btn-warning btn-sm me-1">
                                                    <i class="bi bi-pencil"></i>
                                                </a>
                                            {% endif %}

                                            {% if permission.codename == 'delete_group' %}
                                                <form action="{% url 'role_delete' role.id %}" method="post" style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm"
                                                            onclick="return confirm('Voulez-vous vraiment supprimer ce rôle ?');">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center text-muted">Aucune tâche</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
 
{% endblock %}