{% extends 'base.html' %}
{% block content %}


    <div class="container mt-5">
        <!-- Sidebar -->
    {% include 'dashboard/sidebar.html' %}
        <h2 class="mb-4">Liste des rôles</h2>

        <a href="{% url 'create_role' %}" class="btn btn-success mb-3">
            + Ajouter un rôle
        </a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Permissions</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for role in roles %}
                <tr>
                    <td>{{ role.name }}</td>

                    <td>
                        {% for perm in role.permissions.all %}
                            <span class="badge bg-primary">
                                {{ perm.name }}
                            </span>
                        {% empty %}
                            <span class="text-muted">Aucune permission</span>
                        {% endfor %}
                    </td>

                    <td>
                        <a href="{% url 'edit_role' role.id %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a href="{% url 'delete_role' role.id %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}