{% extends 'base.html' %}

{% block content %}
<div class="d-flex" style="min-height: 100vh;">
   <!-- Sidebar -->
    {% include 'dashboard/sidebar.html' %}
    
            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Liste /</span> Tâches</h4>
                {% if user.is_authenticated and user.profile.role %}
                    {% for permission in user.profile.role.permissions.all %}
                        {% if permission.codename == 'add_task' %}
                            <a href="{% url 'form_task' %}" class="btn btn-primary mb-3">
                                <small><i class="bi bi-plus"></i></small> Ajouter une tâche
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
              <div class="card">
                <h5 class="card-header">Liste des tâches</h5>
                
                <div class="table-responsive text-nowrap m-3">
                    <table class="table">
                    <thead>
                      <tr>
                        <th>Titre</th>
                        <th>Status</th>
                        <th>Assigné à</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                       {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>
                        {% if task.status == 'todo' %}
                            <span class="badge bg-secondary text-white">À faire</span>
                        {% elif task.status == 'in_progress' %}
                            <span class="badge bg-warning text-dark">En cours</span>
                        {% elif task.status == 'done' %}
                            <span class="badge bg-success text-white">Terminé</span>
                        {% endif %}
                        </td>
                        <td>{{ task.assigned_to }}</td>
            
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu p-2">
                               {% if task.status == 'done' %}
                                            <a href="{% url 'detail_task' task.id %}" class="btn btn-info btn-sm me-2">
                                                <i class="bi bi-eye"></i>
                                            </a>

                                        {% elif task.status == 'in_progress' %}
                                            {% if task.assigned_to != request.user %}
                                            <a href="{% url 'detail_task' task.id %}" class="btn btn-info btn-sm">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'detail_task' task.id %}" class="btn btn-info btn-sm">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                            <a href="{% url 'update_status' task.id %}" class="btn btn-warning btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            {% endif %}
                                     {% elif task.status == 'todo' %}
                                        {% if task.assigned_to != request.user %}
                                            <a href="{% url 'detail_task' task.id %}" class="btn btn-info btn-sm">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                            {% if task.created_by == request.user %}
                                                <form action="{% url 'delete_task' task.id %}" method="post" style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm"
                                                        onclick="return confirm('Voulez-vous vraiment supprimer cette tâche ?');">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </form>
                                            {% endif %}

                                        {% else %}
                                            <a href="{% url 'detail_task' task.id %}" class="btn btn-info btn-sm">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                            <a href="{% url 'update_status' task.id %}" class="btn btn-warning btn-sm">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            {% if task.created_by == request.user %}
                                                <form action="{% url 'delete_task' task.id %}" method="post" style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm"
                                                        onclick="return confirm('Voulez-vous vraiment supprimer cette tâche ?');">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center text-muted">Aucune tâche</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                
                <!-- Pagination -->
                {% if is_paginated %}
                <nav aria-label="Page navigation" class="d-flex justify-content-center mb-4">
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page=1"><i class="tf-icon bx bx-chevrons-left"></i></a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="tf-icon bx bx-chevron-left"></i></a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <span class="page-link"><i class="tf-icon bx bx-chevrons-left"></i></span>
                      </li>
                      <li class="page-item disabled">
                        <span class="page-link"><i class="tf-icon bx bx-chevron-left"></i></span>
                      </li>
                    {% endif %}
                    
                    {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                        <li class="page-item active">
                          <span class="page-link">{{ num }}</span>
                        </li>
                      {% else %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="tf-icon bx bx-chevron-right"></i></a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <span class="page-link"><i class="tf-icon bx bx-chevron-right"></i></span>
                      </li>
                      <li class="page-item disabled">
                        <span class="page-link"><i class="tf-icon bx bx-chevrons-right"></i></span>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
                {% endif %}
              </div>
            </div>
        </div>
{% endblock %}